# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
ios
.expo
expo-env.d.ts

# solid
.output
.vinxi

# misc
.DS_Store
*.pem
.data
.idea
*.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# cf
.wrangler
.dev.vars

# Ignore all folders except `src/` and `test/` in every published package
packages/*/*/
!packages/*/src/
!packages/*/test/
!packages/*/playground/

dist
tsup.config.bundled_*
app.config.bundled_*

.svelte-kit
.solid
.vercel
.output
.nuxt

# direnv
.direnv/
