# Prevent pnpm from adding the "workspace:"" prefix to local
# packages as it casues issues with manypkg
# @link https://pnpm.io/npmrc#prefer-workspace-packages
save-workspace-protocol=false
prefer-workspace-packages=true
link-workspace-packages=true

engine-strict=true

public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*react-native-gradle-plugin*
public-hoist-pattern[]=*@react-native-community/cli-platform-android*
public-hoist-pattern[]=*@react-native-community/cli-platform-ios*
