---
import "@uploadthing/react/styles.css";
import Layout from "~/layouts/root.astro";
import { ImageUploader } from "~/components/image-uploader"
---

<Layout>
	<main class="flex min-h-screen flex-col items-center justify-center  gap-16 p-24">
		<div class="flex flex-col items-center justify-center gap-4">
			<span class="text-center text-4xl font-bold">
			{`Upload a file using a button:`}
			</span>
			<ImageUploader client:load />
		</div>
	</main>
</Layout>