name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  UPLOADTHING_SECRET: 'sk_live_xxx'
  UPLOADTHING_APP_ID: 'xxx'
  CLERK_SECRET_KEY: 'foo'
  NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: 'bar'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use PNPM
        uses: pnpm/action-setup@v2.2.4

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_cache_dir=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Setup pnpm cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install deps (with cache)
        run: pnpm install

      - name: Build, lint, test, and typecheck
        run: pnpm turbo build lint test typecheck

      - name: Check formatting
        run: pnpm format:check

      - name: Check workspaces
        run: pnpm manypkg check
