name: Examples E2E

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  e2e-node:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        dir:
          [
            minimal-appdir,
            minimal-pagedir,
            backend-adapters
          ]
    steps:
      - uses: actions/checkout@v4
      - name: Setup
        uses: ./tooling/gh-actions/setup

      - name: Build UT packages
        run: pnpm run build

      - name: Run build
        run: pnpm turbo --filter ./examples/${{ matrix.dir }} build

      - name: Install playwright
        run: |
          cat ./examples/${{ matrix.dir }}/package.json | 
          if grep --silent '"@playwright/test"'; then
            pnpm playwright install --with-deps
          fi

      - name: Run E2E Tests (if exists)
        run: pnpm turbo --filter ./examples/${{ matrix.dir }} test
        env:
          UPLOADTHING_SECRET: ${{ secrets.UPLOADTHING_TEST_SECRET }}
      
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() && matrix.dir == 'backend-adapters' }}
        with:
          name: playwright-report
          path: ./examples/${{ matrix.dir}}/playwright-report/
          retention-days: 7